[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
rpi-ws281x = "~4.1.0"
adafruit-circuitpython-neopixel = "~3.3.4"
adafruit-blinka = "~0.4.0"
python-dotenv = "~0.10.1"

[requires]
python_version = "3.5"
